<a href="https://colab.research.google.com/github/UnplugCharger/Moringa_Data_Science_Prep_W3_Independent_Project_2019_07_Isaac_Byron_DataReport/blob/master/Moringa_Data_Science_Prep_W3_Independent_Project_2019_07_FirstName_LastName_DataReport_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import numpy as np 
import pandas as pd
from google.colab import files
uploaded = files.upload()

Saving cells_geo_description.xlsx to cells_geo_description.xlsx
Saving cells_geo.csv to cells_geo.csv
Saving CDR_description.xlsx to CDR_description.xlsx
Saving Telcom_dataset.csv to Telcom_dataset.csv
Saving Telcom_dataset3.csv to Telcom_dataset3.csv
Saving Telcom_dataset2.csv to Telcom_dataset2.csv

In [0]:
telcom =  pd.read_csv('Telcom_dataset.csv', delimiter = ',',parse_dates=True)
telcom2 = pd.read_csv('Telcom_dataset2.csv', delimiter = ',',parse_dates=True)
telcom3 = pd.read_csv('Telcom_dataset3.csv', delimiter = ',',parse_dates=True)
CDR_description =   pd.read_excel('CDR_description.xlsx', delimiter = ',',parse_dates=True)
cells_geo =  pd.read_csv('cells_geo.csv', delimiter = ';',parse_dates=True)
cells_geo_description = pd.read_excel('cells_geo_description.xlsx',delimiter=',')

Checking all my data frames

In [106]:
telcom=telcom.rename(columns={'PRODUTC':'PRODUCT','DATETIME':'DATE_TIME'})
telcom

     PRODUCT  VALUE              DATE_TIME  ... COUNTRY_B     CELL_ID     SITE_ID
0      Voice      0  2012-05-06 23:04:37.0  ...     19e2e  /TJNe+Mmtu  /TJNe+Mmtu
1        sms      0  2012-05-06 23:05:25.0  ...     19e2e  /+cKZKIp41  /+cKZKIp41
2        sms     25  2012-05-06 23:05:41.0  ...     19e2e  /u0FSD+ahi  /u0FSD+ahi
3      Voice     56  2012-05-06 23:05:42.0  ...     19e2e  +cNeJzsTp3  +cNeJzsTp3
4      Voice     14  2012-05-06 23:06:29.0  ...     19e2e  051KhYDCpv  051KhYDCpv
...      ...    ...                    ...  ...       ...         ...         ...
4996     sms    100  2012-05-07 00:01:54.0  ...     OTHER  0c2371d9bc  1e751d08a4
4997   Voice      1  2012-05-07 00:01:54.0  ...     19e2e  5fb791cf56  65efe2bc62
4998   Voice      0  2012-05-07 00:01:54.0  ...     19e2e  7773627c12  9ef9616350
4999   Voice      0  2012-05-07 00:01:54.0  ...     19e2e  3f4af49d6c  969b8d0e39
5000   Voice      7  2012-05-07 00:01:54.0  ...     19e2e  6f4d9b77a5  ebfc58af70

[5001 rows x 10 columns]

In [0]:
telcom2=telcom2.rename(columns={'DWA_A_NUMBER_INT':'DW_A_NUMBER_INT'})

In [96]:
telcom2

     PRODUCT  VALUE              DATE_TIME  ... COUNTRY_B     CELL_ID     SITE_ID
0        sms      0  2012-05-07 23:02:06.0  ...     19e2e  +854AcBQT2  +854AcBQT2
1      Voice      0  2012-05-07 23:03:44.0  ...     19e2e  +854AcBQT2  +854AcBQT2
2        sms      0  2012-05-07 23:04:06.0  ...     19e2e  +laSrk7g6q  +laSrk7g6q
3      Voice     37  2012-05-07 23:04:48.0  ...     19e2e  /xvRrCVKoQ  /xvRrCVKoQ
4        sms     25  2012-05-07 23:04:58.0  ...     19e2e  +bO+qkSonO  +bO+qkSonO
...      ...    ...                    ...  ...       ...         ...         ...
4996     sms      0  2012-05-08 00:01:53.0  ...     19e2e  896459aace  b7d00e59e4
4997     sms     25  2012-05-08 00:01:53.0  ...     19e2e  7e90b35166  211015b14d
4998     sms      0  2012-05-08 00:01:53.0  ...     19e2e  fe70e431df  c7ea989264
4999    data      0  2012-05-08 00:01:53.0  ...     OTHER  ffa6759bb2         NaN
5000   Voice      0  2012-05-08 00:01:53.0  ...     19e2e  8630058aca  b47a998a3e

[5001 rows x 10 columns]

In [103]:
telcom3=telcom3.rename(columns={'CELLID':'CELL_ID','SIET_ID':'SITE_ID'})
telcom3

     PRODUCT  VALUE              DATE_TIME  ... COUNTRY_B     CELL_ID     SITE_ID
0      Voice     61  2012-05-08 23:01:28.0  ...     19e2e  +38u2u/rfx  +38u2u/rfx
1        sms      0  2012-05-08 23:01:31.0  ...     19e2e  +Fs4mTvdKx  +Fs4mTvdKx
2      Voice     10  2012-05-08 23:02:59.0  ...     19e2e  +ZaaZozy/+  +ZaaZozy/+
3        sms      0  2012-05-08 23:03:04.0  ...     19e2e  +cNeJzsTp3  +cNeJzsTp3
4      Voice     22  2012-05-08 23:03:16.0  ...     19e2e  /eeMklgyJA  /eeMklgyJA
...      ...    ...                    ...  ...       ...         ...         ...
4996   Voice      0  2012-05-09 00:01:43.0  ...     19e2e  2aa04dcab7  f7d63a29e5
4997   Voice     62  2012-05-09 00:01:43.0  ...     19e2e  7f1f2f889f  b4ddb9e93c
4998   Voice     32  2012-05-09 00:01:43.0  ...     19e2e  a4731e780e  d68260ef50
4999   Voice     30  2012-05-09 00:01:43.0  ...     19e2e  98ed726da2  b4130b54ab
5000   Voice     60  2012-05-09 00:01:43.0  ...     19e2e  1c11a2fcbb  6d70dae094

[5001 rows x 10 columns]

In [116]:
cells_geo.isnull().sum()

Unnamed: 0       0
VILLES           0
STATUS          67
LOCALISATION     0
DECOUPZONE       0
ZONENAME         6
LONGITUDE        0
LATITUDE         0
REGION           0
AREA            23
CELL_ID          0
SITE_CODE        0
dtype: int64

In [52]:
CDR_description

       Column name                                        Description   Format
0          PRODUCT                                       Voice or SMS   String
1            VALUE                                      Billing price  Integer
2        DATE_TIME               Time in format yyyy-MM-dd hh:mm:ss.0   String
3     CELL_ON_SITE  Which cell in the site was used (not needed here)  Integer
4  DW_A_NUMBER_INT  Anonymized phone number of the person for whic...   String
5  DW_B_NUMBER_INT        Anonymized phone number of the counterparty   String
6        COUNTRY_A                  Country of party A (useless here)   String
7        COUNTRY_B                  Country of party B (useless here)   String
8          CELL_ID                                     ID of the cell   String
9          SITE_ID                                     ID of the SITE   String

In [53]:
cells_geo_description

     Column name                                        Description  Format
0         VILLES                                               City  String
1         STATUS                                  In Service or not  String
2   LOCALISATION                                  in ABIDJAN or not  String
3     DECOUPZONE                                  Geographical Zone  String
4       ZONENAME                                       Name of Zone  String
5      LONGITUDE                                          Longitude   Float
6       LATITUDE                                           Latitude   Float
7         REGION                                             Region  String
8           AREA                                               Area  String
9        CELL_ID                                     ID of the cell  String
10     SITE_CODE  Site (there are several cells per site, severa...  String

Check for missing Data in the data frames

In [54]:
cells_geo.isnull().sum()

Unnamed: 0       0
VILLES           0
STATUS          67
LOCALISATION     0
DECOUPZONE       0
ZONENAME         6
LONGITUDE        0
LATITUDE         0
REGION           0
AREA            23
CELL_ID          0
SITE_CODE        0
dtype: int64

In [55]:
telcom.isnull().sum()

PRODUTC              0
VALUE                0
DATETIME             0
CELL_ON_SITE         0
DW_A_NUMBER_INT      0
DW_B_NUMBER_INT      0
COUNTRY_A            0
COUNTRY_B            0
CELL_ID              0
SITE_ID            716
dtype: int64

In [56]:
telcom2.isnull().sum()

PRODUCT           0
VALUE             0
DATE_TIME         0
CELL_ON_SITE      0
DW_A_NUMBER       0
DW_B_NUMBER       0
COUNTRY_A         0
COUNTRY_B         0
CELL_ID           0
SITE_ID         676
dtype: int64

In [0]:
telcom3.isnull().sum()

harmonising the colum names in the telecom data frames

In [68]:
telcom.rename(columns={'PRODUTC':'PRODUCT'})

     PRODUCT  VALUE               DATETIME  ... COUNTRY_B     CELL_ID     SITE_ID
0      Voice      0  2012-05-06 23:04:37.0  ...     19e2e  /TJNe+Mmtu  /TJNe+Mmtu
1        sms      0  2012-05-06 23:05:25.0  ...     19e2e  /+cKZKIp41  /+cKZKIp41
2        sms     25  2012-05-06 23:05:41.0  ...     19e2e  /u0FSD+ahi  /u0FSD+ahi
3      Voice     56  2012-05-06 23:05:42.0  ...     19e2e  +cNeJzsTp3  +cNeJzsTp3
4      Voice     14  2012-05-06 23:06:29.0  ...     19e2e  051KhYDCpv  051KhYDCpv
...      ...    ...                    ...  ...       ...         ...         ...
4996     sms    100  2012-05-07 00:01:54.0  ...     OTHER  0c2371d9bc  1e751d08a4
4997   Voice      1  2012-05-07 00:01:54.0  ...     19e2e  5fb791cf56  65efe2bc62
4998   Voice      0  2012-05-07 00:01:54.0  ...     19e2e  7773627c12  9ef9616350
4999   Voice      0  2012-05-07 00:01:54.0  ...     19e2e  3f4af49d6c  969b8d0e39
5000   Voice      7  2012-05-07 00:01:54.0  ...     19e2e  6f4d9b77a5  ebfc58af70

[5001 rows x 10 columns]

Joining the three Telecomtables

In [0]:
new_set = pd.concat([telcom,telcom2,telcom3],ignore_index=True,axis=0)

In [108]:
new_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15003 entries, 0 to 15002
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   PRODUCT          15003 non-null  object
 1   VALUE            15003 non-null  int64
 2   DATE_TIME        15003 non-null  object
 3   CELL_ON_SITE     15003 non-null  object
 4   DW_A_NUMBER_INT  15003 non-null  object
 5   DW_B_NUMBER_INT  15003 non-null  object
 6   COUNTRY_A        15003 non-null  object
 7   COUNTRY_B        15003 non-null  object
 8   CELL_ID          15003 non-null  object
 9   SITE_ID          13006 non-null  object
dtypes: int64(1), object(9)
memory usage: 1.1+ MB

filling in the missing data in the telecom combined table

In [110]:
new_set.isnull().sum()

PRODUCT               0
VALUE                 0
DATE_TIME             0
CELL_ON_SITE          0
DW_A_NUMBER_INT       0
DW_B_NUMBER_INT       0
COUNTRY_A             0
COUNTRY_B             0
CELL_ID               0
SITE_ID            1997
dtype: int64

In [113]:
new_set[new_set.SITE_ID.isnull()]

      PRODUCT  VALUE              DATE_TIME  ... COUNTRY_B     CELL_ID SITE_ID
685      data      0  2012-05-07 00:00:00.0  ...     OTHER  ffa6759bb2     NaN
686      data      0  2012-05-07 00:00:00.0  ...     OTHER  ffa6759bb2     NaN
687      data      0  2012-05-07 00:00:00.0  ...     OTHER  ffa6759bb2     NaN
726      data      0  2012-05-07 00:00:01.0  ...     OTHER  ffa6759bb2     NaN
727      data      0  2012-05-07 00:00:01.0  ...     OTHER  ffa6759bb2     NaN
...       ...    ...                    ...  ...       ...         ...     ...
14958    data      0  2012-05-09 00:01:42.0  ...     OTHER  ffa6759bb2     NaN
14959    data      0  2012-05-09 00:01:42.0  ...     OTHER  ffa6759bb2     NaN
14960    data      0  2012-05-09 00:01:42.0  ...     OTHER  ffa6759bb2     NaN
14961    data      0  2012-05-09 00:01:42.0  ...     OTHER  ffa6759bb2     NaN
14962    data      0  2012-05-09 00:01:42.0  ...     OTHER  ffa6759bb2     NaN

[1997 rows x 10 columns]

filling in the missing data in cell_geo data frame